body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    background-image: url('images/background.png'); /* Görselinizin yolu */
    background-size: cover; /* Görselin tüm ekranı kaplamasını sağlar */
    background-repeat: no-repeat; /* Görselin tekrarlanmamasını sağlar */
    background-position: center center; /* Görselin merkezde kalmasını sağlar */
}

.container {
    width: 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.board {
    display: grid;
    gap: 10px;
}

.row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
}

.row div {
    width: 40px;
    height: 40px;
    background-color: #ddd;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

input, button {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
}

input {
    border: 1px solid #aaa;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

button {
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
